/*전체감싸는 컨테이너*/
#container{
    max-width: 600px;
    height: 500px;

    display: flex;
    margin: 0 auto;
    margin-top: 10%;

}

/*왼쪽 사진있는부분*/
#left-body{
    background-color: white;
    width: 250vw;

    margin-right: 10%;
}
#left-body img{
    width:100%
}

/*오른쪽 로그인 박스*/
#right-body{
    background-color: white;
    width: 250vw;
    height: 400px;
}

#content-wrapper{
    border: 1px solid lightgray;
    height : 350px;
}

/*로고*/
#right-body #content-wrapper img{
    height: 50px;
    width: 130px;
    margin : 15% 0 0 25%;
}
#right-body #content-wrapper #login_div{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 180px;

}
#right-body #content-wrapper #login_div .login-input{
    background-color: whitesmoke;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 0;
    width: 200px
}
#right-body #content-wrapper #login_div button{
    margin-top: 20px;
    width: 205px;
    height: 30px;
    background-color: skyblue;
    border: 1px solid transparent;
    border-radius: 5px;
    color : white;
    font-size: 13px;
    font-weight: bold;
}

/*오른쪽 회원가입박스*/
#right-body #right-body-footer{
    margin-top: 5%;
    border: 1px solid lightgray;
}
#right-body-footer{

}
#right-body-footer #join-wrapper{
    display:flex;
    justify-content: space-around;
}
#right-body-footer #join-wrapper p{
    font-size: 14px; ;
}
#right-body-footer #join-wrapper #join{
    font-weight: bold;
    color: deepskyblue;
    margin-top: 5%;
    font-size: 14px;
}