<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>인스타그램 메인화면</title>
    <link rel="stylesheet" href="static\css\style.css">
    <script src="static\js\log.js"></script>
    <script>
        $(document).ready(function () {
            show_story();
            show_post();
            show_recommend();
        });

        function show_story() {
            $.ajax({
                type: 'GET',
                url: '/api/timeline',
                data: {},
                success: function (response) {
                    let url = response['user_infos'][0]['url']
                    let name = response['user_infos'][0]['name']
                    let story_html = `<div class="story_wrap">
                        <div class="story_pic" style="background: url('${url}') no-repeat;background-position: center; background-size: cover;">

                        </div>
                        <p class="story_name">
                            ${name}
                        </p>

                    </div>`
                    $('#my_story').append(story_html)
                    //마이페이지로 가는 버튼을 프로필사진으로 불러올 수 있도록 바꿨습니다.
                    let mini_profile_html = `<a href="/profile" class="icons" id="profile_pc" style="background: url('${url}') no-repeat;background-position: center; background-size: cover;""></a>`
                    $('#head_leftside').append(mini_profile_html)
                }

            })
        }

        function show_post() {
            let d = new Date()
            time_now = d.getTime()
            time_now *= 1
            $.ajax({
                type: 'GET',
                url: '/api/timeline',
                data: {},
                success: function (response) {
                    let url = response['user_infos'][0]['url']
                    let name = response['user_infos'][0]['name']
                    let desc = response['post_list'][0]['desc']
                    for (let i = 0; i < response['post_list'].length; i++) {
                        let post = response['post_list'][i]['url']
                        let post_time = response['post_list'][i]['time']
                        
                        let time = time_now - post_time
                        let minute = parseInt(time / 60000)
                        let t
                        if (minute < 60) {
                            t = String(minute) + "분 전"
                        } else if (minute < 1440) {
                            t = String(parseInt(minute/60)) + "시간 전"
                        } else if (minute < 43200) {
                            t = String(parseInt(minute/1440)) + "일 전"
                        } else if (minute < 525600) {
                            t = String(parseInt(minute/43200)) + "달 전"
                        } else {
                            t = String(parseInt(minute/525600)) + "년 전"
                        }
                        
                        let post_html = `
                            <div class="post_container" >
                                <div class="post_head">
                                    <div class="post_title" >
                                        <div class="title_pic" style="background: url('${url}') no-repeat;background-position: center; background-size: cover;">
                                        </div>
                                        <p class="title_name">
                                            ${name}
                                        </p>
                                    </div>
                                    <button class="icon more" onclick="post_delete(${post_time})">
                                    </button>
                                </div>
                                <div class="post_pic" style="background: url('${post}') no-repeat;background-position: center; background-size: cover;">
                                </div>
                                <div id = "pic_desc"><p>${desc}</p></div>
                                <div class="post_wrap">
                                    <div class="post_btns">
                                        <div class="like_reply_message">
                                            <div class="icon heart">
                                            </div>
                                            <div class="icon re">
                                            </div>
                                            <div class="icon mess">
                                            </div>
                                        </div>
                                        <button class="icon bookmark">
                                        </button>
                                    </div>
                                    <div class="likes">
                                        <div class="like_pic"></div>
                                            <p>
                                                <span>둘리</span>님 <span>외 10,000명이</span> 좋아합니다.
                                            </p>
                                        </div>
                                        <div class="reply">
                                            <p>
                                                <span>둘리</span> 호이~
                                            </p>
                                            <p> </p>
                                        </div>
                                        <div class="time">
                                            <p> ${t} </p>
                                        </div>
                                    </div>
                                </div>                                    
                            </div>`
                        $('#my_post').append(post_html)
                    }
                }
            })
        }

        function post_delete(time) {
            if (confirm("이 게시물을 삭제하시겠습니까?")) {
                $.ajax({
                    type: 'POST',
                    url: '/api/post_delete',
                    data: {time_give : time},
                    success: function (response) {
                        alert(response['msg'])
                        window.location.reload();
                    }
                })
            } else {
                alert("취소되었습니다.")
            }
                        
        }

        function show_recommend() {
            $.ajax({
                type: 'GET',
                url: '/api/recommend',
                data: {},
                success: function (response) {
                    let r_list = response['list']
                    let list_leng = 0
                    if (r_list.length < 5) {
                        list_leng = r_list.length
                    } else {
                        list_leng = 5
                    }
                    for (let i = 0; i < list_leng; i++) {
                        let name = r_list[i]['name']
                        let url = r_list[i]['url']
                        let desc = r_list[i]['desc']
                        let temp_aside = `
                            <div class="aside_reco">
                                <div class="aside_user">
                                    <div class="aside_pic" style="background: url(${url}) no-repeat; background-position: center; background-size: cover;">
                                    </div>
                                    <div class="aside_user_info">
                                        <p><span>${name}</span></p>
                                        <p>${desc}</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" class="aside_follow">팔로우</a>
                                </div>
                            </div>
                        `
                        $('#aside_wrapper').append(temp_aside)
                    }
                }
            })
        }

    </script>
</head>

<body>
    <div class="main_container">
        <header class="pc_header">
            <div class="head_container">
                <a href="/">
                    <div id="logo">
                    </div>
                </a>
                <div class="input_box">
                    <input type="text" placeholder="검색" id="search">
                </div>
                <div id ="head_leftside" class="btns">
                    <a href="/" class="icons" id="home_pc"></a>
                    <a href="/posting" class="icons" id="trend_pc"></a>
                    <a href="javascript:logout()" class="icons" id="heart_pc"></a>
                </div>
            </div>

        </header>

        <header class="mobile_header">
            <div class="icon" id="camera">

            </div>
            <div id="insta">

            </div>
            <div class="icon" id="message">

            </div>
        </header>
        <div class="upper_container">
            <div class="container" id="my_post">
                <div class="stories_container" id="my_story">
                </div>
            </div>
            <aside class="aside_container" id="aside_container">
                <div class="aside_header">
                    <div>
                        <p id="reco_4u">회원님을 위한 추천</p>
                    </div>
                    <div>
                        <p><span>모두 보기</span></p>
                    </div>
                </div>
                <div class="aside_wrapper" id="aside_wrapper">
                                        
                </div>

            </aside>
        </div>
        <footer class="mobile_footer">
            <div class="foot_btn" id="home">

            </div>
            <div class="foot_btn" id="search">

            </div>
            <div class="foot_btn" id="plus">

            </div>
            <div class="foot_btn" id="like">

            </div>
            <div class="foot_btn" id="home2">

            </div>
        </footer>

</body>

</html>