<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>인스타그램 메인화면</title>
    <link rel="stylesheet" href="static\css\style.css">
    <script src="static\js\log.js"></script>
    <script src="static\js\index.js"></script>
    <script>

    </script>


</head>

<body>
    <div class="main_container">
        <header class="pc_header">
            <div class="head_container">
                <a href="/">
                    <div id="logo">
                    </div>
                </a>
                <div class="input_box">
                    <input type="text" placeholder="검색" id="search">
                </div>
                <div id ="head_leftside" class="btns">
                    <a href="/" class="icons" id="home_pc"></a>
                    <a href="/posting" class="icons" id="trend_pc"></a>
                    <a href="javascript:logout()" class="icons" id="heart_pc"></a>
                </div>
            </div>

        </header>

        <header class="mobile_header">
            <div class="icon" id="camera">

            </div>
            <div id="insta">

            </div>
            <div class="icon" id="message">

            </div>
        </header>
        <div class="upper_container">
            <div class="container" id="my_post">
                <div class="stories_container" id="my_story">
                </div>
                
            </div>
            <aside class="aside_container" id="aside_container">
                <div class="aside_header">
                    <div>
                        <p id="reco_4u">회원님을 위한 추천</p>
                    </div>
                    <div>
                        <p><span>모두 보기</span></p>
                    </div>
                </div>
                <div class="aside_wrapper" id="aside_wrapper">
                                        
                </div>

            </aside>
        </div>
        <footer class="mobile_footer">
            <div class="foot_btn" id="home">

            </div>
            <div class="foot_btn" id="search">

            </div>
            <div class="foot_btn" id="plus">

            </div>
            <div class="foot_btn" id="like">

            </div>
            <div class="foot_btn" id="home2">

            </div>
        </footer>

</body>

</html>