<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인스타그램 로그인화면 </title>
    <link rel="stylesheet" href="/static/css/login.css">

    <style>
    </style>

</head>
</head>
<body>
    <div id = "container">
        <div id="left-body">
            <img src="/static/images/left-body.png">
        </div>
        <div id = "right-body">
            <div id = content-wrapper>
                <img src="/static/images/insta-logo.png">
                <div id = "login_div">
                    <input type="text" id="id" class="login-input" placeholder="아이디를 입력하세요">
                    <input type="text" id="pw" class="login-input" placeholder="비밀번호를 입력하세요">
                <button>로그인</button>
                </div>
            </div>

            <div id="right-body-footer">
                <div id = "p-wrapper">
                    <p>계정이 없으신가요?</p>
                    <p  id="join">가입하기</p>
                </div>

            </div>
        </div>




</div>

</body>
</html>