<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인스타그램 모바일 화면 만들기</title>
    <link rel="stylesheet" href="static\css\style.css">
    <link rel="stylesheet" href="static\css\profile.css">

    <style>
    </style>

</head>

<body>
    <div class="main_container">
        <header class="pc_header">
            <div class="head_container">
                <a href="">
                    <div id="logo">
                    </div>
                </a>
                <div class="search_wrap">
                    <input type="text" id="big_search" placeholder="   검색">
                </div>
                <div class="btns">
                    <button class="icons" id="home_pc"></button>
                    <button class="icons" id="dm_pc"></button>
                    <button class="icons" id="trend_pc"></button>
                    <button class="icons" id="heart_pc"></button>
                    <button class="icons" id="more_pc"></button>
                </div>
            </div>

        </header>

        <header class="mobile_header">
            <div class="icon" id="camera">

            </div>
            <div id="insta">

            </div>
            <div class="icon" id="message">

            </div>
        </header>

        <div class="upper_container">
            <div class="profile_container">
                <div class="profile_wrap">
                    <div class="profile_pic">

                    </div>
                    <div class="profile_info_wrap">
                        <div class="info_nick">

                        </div>
                        <div class="info_num">

                        </div>
                        <div class="info_desc">

                        </div>

                    </div>

                </div>
                <div class="story_wrap">

                </div>
                <div class="post2_container">
                    <div class="select_post">

                    </div>
                    <div class="post2_wrap">
                        <div class="post2_box">
                            <div class="post2_post">

                            </div>
                            <div class="post2_post">

                            </div>
                            <div class="post2_post">

                            </div>
                        </div>
                        <div class="post2_box">
                            <div class="post2_post">

                            </div>
                            <div class="post2_post">

                            </div>
                            <div class="post2_post">

                            </div>
                        </div>
                        <div class="post2_box">
                            <div class="post2_post">

                            </div>
                            <div class="post2_post">

                            </div>
                            <div class="post2_post">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>

        <footer class="mobile_footer">
            <div class="foot_btn" id="home">

            </div>
            <div class="foot_btn" id="search">

            </div>
            <div class="foot_btn" id="plus">

            </div>
            <div class="foot_btn" id="like">

            </div>
            <div class="foot_btn" id="home2">

            </div>
        </footer>

    </div>

</body>

</html>